@{
    ViewData["Title"] = "Home Page";
}

    <div class="main">
        <div class="container">
            <main role="main" class="pb-3">
                <h1 class="text-light">Welcome</h1>
            </main>
        </div>
    </div>


