@section Styles{
      <link
      rel="stylesheet"
      href="~/lib/Swiper/swiper-bundle.min.css"
    />
}
    @{
    ViewData["Title"] = "Home Page";
}

<div class="slide">
 <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img class="img-fluid" src="~/img/Home/Index/2022.jpg_Q90.jpg_.webp" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white fw-bold">Man's Clothes</h5>
              <p class="card-text text-muted">Simple Cotton Gray T-Shirt</p>
              <h6 class="fw-bold fs-5 text-white">$19.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
                 <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                 </a>
               
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/jeans.jpg" class="card-img-top " alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white  fw-bold">Man's Jeans</h5>
              <p class="card-text text-muted">Multiple Pocket Jeans</p>
              <h6 class="fw-bold fs-5 text-white">$25.00</h6>
              <h6 class="text-decoration-line-through">$45.00</h6>
              
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
                <a href="">
                 <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/black-jacket.png" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white  fw-bold">Man's Jacket</h5>
              <p class="card-text text-muted">Classy Black Jacket</p>
              <h6 class="fw-bold fs-5 text-white">$140.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
               <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/man-chose-red.jpg" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white fw-bold">Man's Choe</h5>
              <p class="card-text text-muted">Red Choe Special</p>
              <h6 class="fw-bold fs-5 text-white">$30.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
                <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/Boss.jpg" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white fw-bold">Man's Parfum</h5>
              <p class="card-text text-muted">BOSS The most famous Parfum </p>
              <h6 class="fw-bold fs-5 text-white">$100.00</h6>
              <h6 class="text-decoration-line-through">$120.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
                <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/hat.png" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white text-monospace  fw-bold">HAT</h5>
              <p class="card-text text-muted">Blue Light Hat</p>
              <h6 class="fw-bold fs-5 text-white">$10.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
               <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/travel-back-red.jpg" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white fw-bold">Suitcase</h5>
              <p class="card-text text-muted">That Genuine Leather</p>
              <h6 class="fw-bold fs-5 text-white">$70.00</h6>
              <h6 class="text-decoration-line-through">$90.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
               <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/chair.png" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white fw-bold">Chair</h5>
              <p class="card-text text-muted">Simple White Chair</p>
              <h6 class="fw-bold fs-5 text-white">$20.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
               <a href="">
                  <img src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="">
              <img src="~/img/Home/Index/watch.webp" class="card-img-top w-100" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title text-white fw-bold">Man's Watch</h5>
              <p class="card-text text-muted">Nice Hand Watch</p>
              <h6 class="fw-bold fs-5 text-white">$130.00</h6>
              <h6 class="text-decoration-line-through">$160.00</h6>
             <div class="icons d-flex justify-content-between">
              <div class="stars">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-48.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
                <img src="~/img/Home/Index/icons8-star-32.png" alt="">
              </div>
              <div class="basket">
                <img class="heart" src="~/img/Home/Index/icons8-heart-50.png" alt="">
                <a href="">
                <img class="shopping" src="~/img/Home/Index/icons8-shopping-cart-promotion-50.png" alt="">
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

</div>

@section Scripts{
        <script src="~/lib/Swiper/swiper-bundle.min.js"></script>
        <script>

    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

        </script>
}