@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have persmission to this action</h6>
    <img src="~/img/Account/Access.gif" style="height:400px; width:400px" />
</div>