@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Login";
}

@section style{
    <style>

   body {
        background: linear-gradient(to right, #25c481, #25b7c4);
   }

   h2{ 
        color: red;
   }

   form {
       padding:100px 300px 0px 300px;
       
   }

    </style>
}


<h2 class="mt-2 p-2 text-center">Forgot Password</h2>
<hr />
<div class="row p-5">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group text-center text-white">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control text-center" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
             <button type="submit" class="btn mt-3 btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>