<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avero - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/Avero-favicon.png" sizes="32x32" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    @await RenderSectionAsync("style", false)
</head>
<body>

    @RenderBody()

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*we set (type="module") in this script because we used (import statment) inside the file*@
    @await RenderSectionAsync("script", required: false)
</body>
</html>
