<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avero - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/Avero-favicon.png" sizes="32x32" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*for css isolation (for each view) add this*@
    <link rel="stylesheet" href="~/Avero.Web.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("style", false)
</head>
<body>
    <header class="vh-100 header">
        <div class="container">
            <a class="navbar-brand float-start m-0 mt-2" asp-controller="Home" asp-action="Index"> <img src="~/img/Avero2-light.png" alt="avero logo" width="100px" /> </a>
            <nav class="nav navbar navbar-expand-sm navbar-dark float-end float-sm-none">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-md-flex justify-content-between px-2 p-md-0" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">link1</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>


            <partial name="~/Views/Partial/_searchBox.cshtml" />

            <partial name="~/Views/Partial/_slider.cshtml" />


        </div>




    </header>



    @RenderBody()



    <div class="footer">
        <footer class="mx-2 d-flex flex-nowrap flex-column justify-content-center">
            <div class="container">
                &copy; 2022 - Avero.Web - <a class="text-decoration-none" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*we set (type="module") in this script because we used (import statment) inside the file*@
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("script", required: false)
</body>
</html>
