@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Erorr";
}
@section style{
    <style>

    </style>
}
@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An error occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <h5>Please contact us on Avero-manager@outlook.com</h5>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}
@if (ViewBag.showHomeLink != null)
{
    <div><a asp-action="index" asp-controller="home"> back to home </a></div>
}
@if (ViewBag.showReConfirmLink != null)
{
    <div><a asp-action="ResendConfirmationEmail" asp-controller="account" asp-route-userId="@ViewBag.userID"> Resend Email </a></div>
}

@if (ViewBag.showLoginLink != null)
{
    <div><a asp-action="login" asp-controller="account"> Login Here </a></div>
}