* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: #252525;
}

.header {
    background: url(/img/body.jpg) top center fixed no-repeat #3A0000;
    background-size: cover;
    position: relative
}


nav {
    background-color: transparent;
    right: 0;
    left: 0;
    top: 0;
    transition: all 1s ease-in-out;
    position: fixed !important;
    margin: 1.5vw 18vw 0 24vw;
}

.to-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
}

.dropdown .dropdown-menu {
    position: absolute;
}


/* Dim the screen on menu item active and focus on dropdown  start */
.screen-darken {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    position: fixed;
    backdrop-filter: blur(2px);
}

.navbar {
    position: relative;
    z-index: 15;
}
/*-------------- Dim the screen on menu item active and focus on dropdown  end --------------*/









.footer {
    background: url(/img/footer.jpg) center center repeat;
}

footer {
    height: 50px;
}


/*----------- media start -----------*/

/*  
(smallest width is 320px)

bootsrap breakpoints:

X-Small             (None)      <  576px
Small               (sm)	    >= 576px
Medium	            (md)	    >= 768px
Large	            (lg)	    >= 992px
Extra large	        (xl)	    >= 1200px
Extra extra large	(xxl)	    >= 1400px

*/

@media screen and (max-width: 3840px) {
}

@media screen and (max-width: 1920px) {
}

@media (max-width: 1400px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    nav {
        margin: 1.5vw 18vw 0 28vw;
    }
}

@media (max-width: 576px) {
    nav {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 2%;
        position: relative !important;
        margin: 1rem 0rem;
        padding: 0 !important;
        z-index: 999999;
        background-color: rgb(255,255,255,0.1);
    }
}

/*----------- media end -----------*/


/*----------- customize the scroll start -----------*/

::-webkit-scrollbar {
    background-color: #3A0000;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: tomato;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: coral;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: orangered;
    }

/*----------- customize the scroll start -----------*/

