.slide[b-zil5iyl7cg] {
    position: relative;
    height: 100vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    background: url(/img/body.jpg) top center fixed no-repeat #3A0000;
    background-size: cover;
}

.swiper[b-zil5iyl7cg] {
    width: 90%;
    height: 100%;
    background:transparent;
}

.swiper-slide[b-zil5iyl7cg] {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide .card[b-zil5iyl7cg] {
        width: 30rem;
        background-color: rgba(0, 0, 0, .1);
        z-index: -1;
        border: 2px solid rgba(0, 0, 0, .1);
        transition: all .9s ease-in-out;
    }

        .swiper-slide .card a:hover[b-zil5iyl7cg] {
            opacity: 0.6;
            transition: all .2s ease-in-out;
        }

        .swiper-slide .card img[b-zil5iyl7cg] {
            height: auto;
            max-width: 100%;
        }


        .swiper-slide .card a > img:hover[b-zil5iyl7cg] {
            opacity: 0.6;
        }

        .swiper-slide .card .card-title[b-zil5iyl7cg] {
            letter-spacing: 2px;
        }

        
/* ﻿.main {
    height: 100vh;
    background-image: linear-gradient(to right bottom, #4c0622, #430426, #380528, #2d0629, #210529);
    background-color: black !important;
} */
